@import '~src/styles/variables.scss';
.postItem {
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
  background-color: white;
  // &_top {
  //   display: flex;
  //   .avatar {
  //     width: 50px;
  //     height: 50px;
  //     border-radius: 25px;
  //     background-size: cover;
  //     background-position: center;
  //     background-repeat: no-repeat;
  //   }
  //   &_info {
  //     flex: 1;
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     padding-left: 15px;
  //     .nickname {
  //       margin-bottom: 10px;
  //       font-size: 16px;
  //       font-weight: 500;
  //     }
  //     .about {
  //       font-size: 14px;
  //       color: $color-disabled;
  //     }
  //   }
  // }
  &_middle {
    padding-left: 40px + 15px;
    padding-top: 10px;
    .desc {
      font-size: 15px;
      line-height: 25px;
    }
    .imgUrl {
      margin-top: 10px;
      width: 200px;
      height: 200px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: $color-btnbg-hover;
    }
    .topic {
      cursor: pointer;
      margin-top: 10px;
      display: inline-block;
      padding: 0 10px;
      font-size: 12px;
      height: 30px;
      line-height: 30px;
      border: 1px solid $color-link;
      color: $color-link;
      font-weight: 500;
      border-radius: 15px;
    }
  }
  &_operation {
    margin-top: 15px;
    display: flex;
    align-items: center;
    height: 44px;
    border-top: 1px solid $color-border;
    &_btn, &_btn_active {
      cursor: pointer;
      flex: 1;
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      color: $color-disabled;
      text-align: center;
      border-right: 1px solid $color-border;
      &:last-child {
        border-right: none;
      }
      &_active {
        color: $color-link
      }
    }
  }
}
