@import '~src/styles/variables.scss';

.comment {
  margin-bottom: 15px;
  padding: 15px;
  background-color: #cccccc1a;
  &_input {
    padding-bottom: 15px;
    display: flex;
    .textarea {
      flex: 1;
      margin-right: 15px;
      background-color: $color-btnbg-hover;
      border: none;
    }
  }
  .item {
    &_top {
      padding: 15px 0;
      padding-bottom: 5px;
      display: flex;
      align-items: center;
      .avatar {
        width: 30px;
        height: 30px;
        border-radius: 15px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $color-disabled;
      }
      .nickname {
        margin: 0 10px;
        font-weight: 500;
        font-size: 14px;
      }
      .about {
        flex: 1;
        font-size: 14px;
        color: $color-disabled;
      }
      .time {
        font-size: 14px;
        color: $color-disabled;
      }
    }
    .content {
      padding-left: 40px;
      padding-bottom: 10px;
      line-height: 20px;
      font-size: 14px;
    }
    &_operation {
      margin-left: 40px;
      padding-top: 10px;
      border-top: 1px solid $color-border;
      display: flex;
      // justify-content: flex-end;
      &_btn,
      &_btn_active {
        // margin-left: 30px;
        font-size: 14px;
        color: $color-disabled;
        cursor: pointer;
        i {
          color: $color-disabled;
        }
        &_active {
          color: $color-link;
          i {
            color: $color-link;
          }
        }
      }
    }
  }
}
