@import '~src/styles/variables.scss';

.articleItem {
  overflow: hidden;
  padding: 30px;
  // width: 700px;
  width: 100%;
  border-bottom: 1px solid $color-border;
  background-color: white;
  &_userinfo {
    font-size: 14px;
    color: $color-disabled;
  }
  &_content {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 15px;
    &:hover {
      .title {
        text-decoration: underline;
      }
    }
    .poster {
      width: 100px;
      height: 70px;
      background-color: $color-disabled;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-bottom: 1px solid $color-border;
      border-radius: 4px;
    }
    .info {
      flex: 1;
      padding-right: 50px;
      .title {
        // margin-bottom: 15px;
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
      }
      // .time {
      //   font-size: 14px;
      //   color: $color-disabled;
      // }
      .actions {
        padding-top: 15px;
        &_item {
          display: inline-block;
          margin-right: 20px;
          color: $color-disabled;
          font-size: 12px;
          height: 30px;
          line-height: 30px;
          i {
            display: inline-block;
            width: 20px;
            color: $color-disabled;
          }
        }
      }
    }
  }
}
