$color-border: rgba(178,186,194,.15);

$color-body: #f6f8f9;
$color-block: rgba(0,0,0,0.1);
$color-block-dark: RGBA(47, 43, 47, 1.00);

$color-btnbg-hover: #f2f2f299;
$color-btnbg: rgba(0,0,0,0.1);
$color-btnbg-dark: RGBA(78, 75, 78, 1.00);


$color-link: #007fff;
$color-link-light: #1A84F8;
$color-font: #333;
// $color-disabled: #999;
$color-disabled: #B2BAC2;
$color-error: #F5222D;

$transition: 0.2s ease-in;
$box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.05);
