@import '~src/styles/variables.scss';

.container {
  // background-color: white;
  width: 100vw;
  min-height: 100vh;
  .body {
    min-height: 80vh;
  }
  .footer {
    background-color: white;
    border-top: 1px solid $color-border;
    &_content {
      padding: 60px 0;
      margin: 0 auto;
      width: 100%;
      max-width: 1200px;
      .logo {
        margin-bottom: 30px;
        height: 30px;
      }
      .copyright {
        color: $color-disabled;
        font-size: 14px;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .container {
  }
}
