@import '~src/styles/variables.scss';

.footer_powerby {
  overflow: hidden;
  border-top: 1px solid $color-border;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  text-align: center;
  background-color: white;
  font-weight: bold;
  font-style: italic;

  .title {
    color: $color-disabled;
  }
  i {
    position: relative;
    top: 2px;
    margin-left: 10px;
    margin-right: 2px;
    color: $color-disabled;
  }
  a {
    // color: $color-disabled;
    color: $color-link;
    &:hover {
      color: $color-link;
      i {
        color: $color-link;
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  .footer_powerby {
    background-color: black;
  }
}
