@import '~src/styles/variables.scss';

.container {
  width: 100%;
  padding: 15px;
  max-width: 270px;
  max-height: 90vh;
  overflow-y: scroll;
  .item,
  .item_mini {
    overflow: hidden;
    position: relative;
    display: block;
    padding-left: 15px;
    line-height: 30px;
    font-size: 14px;
    color: $color-font;
    white-space: nowrap;
    text-overflow: ellipsis;
    .text {
      position: relative;
      &::before {
        content: '';
        display: inline-block;
        position: absolute;
        left: -15px;
        top: 8px;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: black;
      }
    }
    &_mini {
      .text {
        &::before {
          content: '';
          left: -15px;
          top: 9px;
          width: 4px;
          height: 4px;
          border-radius: 2px;
        }
      }
    }
  }
}
