@import "~src/styles/variables.scss";

.nodata {
  padding: 200px 0;
  text-align: center;
  color: $color-btnbg;
  font-size: 60px;
  p {
    margin-top: 5px;
    font-size: 16px;
    color: $color-btnbg;
  }
}